#info-box {
    position: absolute;
    top: 5px;
    left: 5px;
}

.info-button {
    &:not(:first-child) {
        margin-top: 10px;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.bottom-buttons {
    position: absolute;
    bottom: 5px;
    left: 5px;

    button {
        margin-right: 5px;

        &.small {
            min-width: 30px;
        }
    }
}
