<app-board #board
           [pieces]="game.data.pieces"
           [decorators]="game.data.decorators"
           [inventory]="game.data.inventoryItems"
           [boardSize]="game.metadata.controller.boardSize"
           [direction]="direction"
           (move)="move($event)"
           (place)="place($event)"></app-board>

<mat-card id="info-box" *ngIf="infoElements.length">
    <mat-card-content>
        <ng-template ngFor let-infoElement [ngForOf]="infoElements">
            <button mat-raised-button
                    class="info-button"
                    color="primary"
                    [disabled]="!game.playerInGame(playerService.currentPlayer)"
                    *ngIf="infoElement.type == 'button'"
                    (click)="apiService.clickButton(game, infoElement)">{{infoElement.text}}</button>
            <div *ngIf="infoElement.type == 'text'" [innerHTML]="sanitizer.bypassSecurityTrustHtml(infoElement.text)"></div>
        </ng-template>
    </mat-card-content>
</mat-card>

<div class="bottom-buttons">
    <button mat-raised-button *ngIf="!sidebarService.isOpen()" (click)="sidebarService.open()">Show Sidebar</button>
    <button mat-raised-button (click)="leaveGame()" *ngIf="game && game.playerInGame(playerService.currentPlayer)">Leave Game</button>
    <button mat-raised-button matTooltip="Center Board" class="small" (click)="centerBoard()"><mat-icon>gps_fixed</mat-icon></button>
    <button mat-raised-button matTooltip="Rotate Board Left" class="small" (click)="rotateBoardLeft()"><mat-icon>rotate_left</mat-icon></button>
    <button mat-raised-button matTooltip="Rotate Board Right" class="small" (click)="rotateBoardRight()"><mat-icon>rotate_right</mat-icon></button>
    <button mat-raised-button matTooltip="Zoom Out" class="small" (click)="board.zoomCenter(5)"><mat-icon>zoom_out</mat-icon></button>
    <button mat-raised-button matTooltip="Zoom In" class="small" (click)="board.zoomCenter(-5)"><mat-icon>zoom_in</mat-icon></button>
</div>
