<div class="wrapper">
    <h1>Create Game</h1>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input required matInput [(ngModel)]="data.displayName">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data.public"
                  required
                  matTooltip="Check this box to allow anyone on the server to join your game.">
        Public Game
    </mat-checkbox>
    <mat-form-field *ngIf="!data.public"
                    matTooltip="Since your game is not public, you need to set a password. Give this password to the people you want in your game.">
        <mat-label>Password</mat-label>
        <input type="password" autocomplete="off" required matInput>
    </mat-form-field>

    <br>

    <div class="pack-selector">
        <h2>Pack</h2>
        <mat-selection-list [multiple]="false" (selectionChange)="data.pack = $event.option.value; data.controller = undefined">
            <mat-list-option *ngFor="let pack of packService.values()"
                             [value]="pack">
                {{pack.displayName}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="board-selector" *ngIf="data.pack">
        <h2>Controller</h2>
        <mat-selection-list [multiple]="false" (selectionChange)="data.controller = $event.option.value; updateOptions();">
            <mat-list-option *ngFor="let controller of data.pack.controllers | keyvalue"
                             [value]="controller.value">
                {{controller.value.displayName}}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div class="options"
         *ngIf="data.controller && !isEmpty(data.controller.options)">
        <h2>{{data.controller.displayName}} Options</h2>
        <ng-template ngFor let-option
                     [ngForOf]="data.controller.options | keyvalue">
            <mat-checkbox required *ngIf="option.value.type == 'bool'" [(ngModel)]="options[option.key]">{{option.key}}</mat-checkbox>
            <mat-form-field *ngIf="option.value.type == 'int'">
                <mat-label>{{option.key}}</mat-label>
                <input required
                       matInput
                       [(ngModel)]="options[option.key]"
                       autocomplete="off"
                       type="number"
                       [min]="option.value.min"
                       [max]="option.value.max"
                       step="1">
            </mat-form-field>
        </ng-template>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="true">Cancel</button>
        <button mat-raised-button
                color="primary"
                [mat-dialog-close]="data.controller"
                [disabled]="data.displayName == '' || !data.controller"
                (click)="createGame()">Create
        </button>
    </div>
</div>

