mat-checkbox {
    margin: 0 15px;
}

.pack-selector, .board-selector {
    padding: 15px;
    width: 217px;
    display: inline-table;
    background-color: #303030;
}

.board-selector {
    margin-left: 5px;
}

.wrapper {
    min-width: 500px;
}
