mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding: 25px;
    min-width: 382px;
}

mat-sidenav-content {
    overflow: hidden;
}

mat-card {
    margin-bottom: 5px;
    width: 300px;

    border-radius: 25px;
    transition: 0.25s;
}

.header {
    font-size: 40px;
    margin: 25px 0;
}

.center {
    text-align: center;
}

.delete-game-button {
    position: absolute;
    right: 15px;
    z-index: 1;
}

#join-game-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
