<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <button (click)="sidenav.toggle(); board.updateCanvasSize()"><-></button>
        <button (click)="createGame()">+</button>
        <h1>Chess Maker</h1>
        <mat-card *ngFor="let game of games | keyvalue" (click)="showGame(game.key)">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{game.value.name}}</mat-card-title>
                <mat-card-subtitle>Created by {{game.value.creator}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                A <strong>{{game.value.board}}</strong> game with <strong>{{game.value.current_players}}/{{game.value.total_players}}</strong> players.
            </mat-card-content>
        </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-board #board></app-board>
    </mat-sidenav-content>
</mat-sidenav-container>



