<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened (opened)="board.onResize()" (closed)="board.onResize()">
        <div class="padded">
            <mat-card class="darker">
                <mat-card-content>
                    <app-players #playersComponent
                                 [serverPlayers]="players"
                                 [gamePlayers]="selectedGameId ? games[selectedGameId].players : []"
                                 [disableGameTab]="!selectedGameId"></app-players>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="center">
                <button mat-raised-button color="primary" (click)="createGame()">New Game</button>
            </div>
            <br>
            <ng-template ngFor let-game [ngForOf]="games | keyvalue">
                <button mat-mini-fab
                        color="accent"
                        class="delete-game-button"
                        *ngIf="game.value.creator == api.nickname"
                        (click)="api.run('delete_game', {game_id: game.key})">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card (click)="showGame(game.key)"
                          [ngStyle]="{backgroundColor: game.key == selectedGameId ? '#c2185b' : '#303030'}">
                    <mat-card-content>
                        <h1>{{hasNotification[game.key] ? '*' : ''}}{{game.value.name}}</h1>
                        Created by {{game.value.creator}}<br>
                        A <strong>{{game.value.board}}</strong> game with <strong>{{game.value.players.length}}/{{game.value.total_players.length}}</strong> players.
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <div class="sidenav-actions">
                <button mat-raised-button
                        (click)="disconnect()"
                        color="warn">Disconnect</button>
                <button mat-raised-button
                        color="accent"
                        (click)="sidenav.toggle()">Hide Sidebar</button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-board #board
                   [gameId]="selectedGameId"
                   [game]="selectedGameId ? games[selectedGameId] : null"
                   [notify]="notify.bind(this)"
                   [sidenav]="sidenav"
                   (winner)="onWinner($event)"></app-board>
        <mat-card id="control-box" *ngIf="(selectedGameId && games[selectedGameId].playing_as == null) || winnerData != null">
            <mat-card-content>
                <ng-template [ngIf]="winnerData == null">
                    <h1>{{games[selectedGameId].players.length == packDataService.boardTypes[games[selectedGameId].pack][games[selectedGameId].board].colors.length ? 'Spectating' : 'Join As'}}</h1>
                    <mat-chip-list>
                        <mat-chip *ngFor="let color of availableColors"
                                  [ngStyle]="{backgroundColor: colorService.names[color], color: color == 0 || color == 3 || color == 4 ? 'black' : 'white'}"
                                  (click)="joinGame(selectedGameId, color)">
                            {{colorService.names[color]}}
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
                <ng-template [ngIf]="winnerData != null">
                    <h1>{{winner_string(winnerData.colors)}}</h1>
                    <p>{{winnerData.reason}}</p>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>



