<div class="menu">
    <div class="logo">
        <img src="assets/logo-small.png" alt="Logo"><span>Chess Maker</span>
    </div>
    <br>
    <p>Chess Maker is a hackable chess server that allows for the creation of many different games.</p>
    <p class="warning"><strong>Warning</strong>: This project is not in a stable state. Many bugs will occur.</p>
    <br>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="preferencesService.address">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Nickname</mat-label>
                <input matInput [(ngModel)]="preferencesService.displayName">
            </mat-form-field>
            <br>
            <ng-template [ngIf]="gameIdToJoin">
                <mat-checkbox [(ngModel)]="joinGameFromLink">Join game from link</mat-checkbox>
                <br><br>
            </ng-template>
            <button mat-raised-button color="primary" (click)="connect()">Connect</button>
        </mat-card-content>
    </mat-card>
    <br>
    <a mat-button href="https://github.com/joshf26/Chess-Maker" target="_blank">Source Code on GitHub</a>
    <a mat-button href="https://github.com/joshf26/Chess-Maker/blob/master/LICENSE" target="_blank">Licensed Under MIT</a>
</div>
