<canvas #canvas
        (wheel)="zoom($event)"
        (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp()"
        (mouseleave)="mouseUp()"
        (mousemove)="mouseMove($event)"
        (contextmenu)="hideContextMenu($event)"></canvas>

<mat-card id="info-box" *ngIf="infoElements.length">
    <mat-card-content>
        <ng-template ngFor let-infoElement [ngForOf]="infoElements">
            <button mat-raised-button
                    color="primary"
                    [disabled]="game.playing_as == undefined"
                    *ngIf="infoElement.type == 'button'"
                    (click)="click_button(infoElement.id)">{{infoElement.text}}</button>
            <p *ngIf="infoElement.type == 'text'">{{infoElement.text}}</p>
        </ng-template>
    </mat-card-content>
</mat-card>

<button mat-raised-button
        class="rotate-button"
        (click)="rotate()">Rotate</button>
