<canvas #canvas
        (wheel)="zoom($event)"
        (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp()"
        (mouseleave)="mouseUp()"
        (mousemove)="mouseMove($event)"
        (contextmenu)="hideContextMenu($event)"></canvas>

<mat-card id="info-box" *ngIf="infoElements.length">
    <mat-card-content>
        <ng-template ngFor let-infoElement [ngForOf]="infoElements">
            <button mat-raised-button
                    class="info-button"
                    color="primary"
                    [disabled]="!game || game.playing_as == undefined"
                    *ngIf="infoElement.type == 'button'"
                    (click)="click_button(infoElement.id)">{{infoElement.text}}</button>
            <div *ngIf="infoElement.type == 'text'" [innerHTML]="sanitizer.bypassSecurityTrustHtml(infoElement.text)"></div>
        </ng-template>
    </mat-card-content>
</mat-card>

<div class="bottom-buttons">
    <button mat-raised-button (click)="sidenav.toggle()" *ngIf="!sidenav.opened">Show Sidebar</button>
    <button mat-raised-button (click)="rotate()">Rotate</button>
    <button mat-raised-button (click)="leaveGame()" *ngIf="game && game.playing_as != undefined">Leave Game</button>
</div>
