<h2 class="header">Players</h2>
<mat-tab-group dynamicHeight
               [selectedIndex]="disableGameTab ? 0 : selectedTab"
               (selectedIndexChange)="selectedTab = $event">
    <mat-tab label="Server">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let serverPlayer of serverPlayers">{{serverPlayer.displayName}}</mat-list-option>
        </mat-selection-list>
    </mat-tab>
    <mat-tab [disabled]="disableGameTab">
        <ng-template mat-tab-label>
            <span [matTooltip]="disableGameTab ? 'Select a game below to enable this tab.' : ''">Game</span>
        </ng-template>
        <p class="no-players" *ngIf="!hasPlayers()">No players are in this game yet.</p>
        <mat-selection-list [multiple]="false" *ngIf="hasPlayers()">
            <mat-list-option *ngFor="let gamePlayer of gamePlayers | keyvalue">
                {{gamePlayer.value.displayName}} (<span [ngStyle]="{color: colorService.names[gamePlayer.key], display: 'contents', fontWeight: 'bold'}">{{colorService.names[gamePlayer.key]}}</span>)
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
</mat-tab-group>
